header
{
    width: 100%;
}
.x_tab_box
{
    position: fixed;
    z-index: 100;
    right: 0;
    left: 0;

    height: 100px;

    text-align: center;

    background: transparent;
}
.x_login_box_in
{
    font-size: 12px;
    line-height: 40px;

    position: absolute;
    top: -10px;
    right: 0;

    display: flex;

    width: 80px;
    height: 35px;
    padding: 0 10px;

    color: #d3d3d3;
    border-radius: 4px;
    background: rgba(0,0,0,.3);

    justify-content: space-around;
}
.x_login_box_in a
{
    font-size: 14px;

    color: #d3d3d3;
}
.x_logo_box
{
    width: 456px;
    height: 50px;
    margin-top: 40px;
}
.x_tabs
{
    margin-top: 56px;
    margin-right: -10px;
}
.x_tabs a
{
    font-size: 16px;

    display: flex;
    float: left;

    width: 80px;
    height: inherit;
    margin-left: 20px;

    color: #fff;

    align-items: center;
    justify-content: center;
}

footer
{
    overflow: hidden;

    width: 100%;

    border-top: 3px solid #f00;
    background: #171717;
}
.footer_list
{
    overflow: hidden;

    width: 100%;
    margin-top: 42px;
}
.footer_list li
{
    width: 130px;
    margin-right: 75px;
}
.footer_list li:nth-child(5)
{
    width: 270px;
}
.qr_box
{
    width: 100%;
}
.qr_box li
{
    width: 80px;
    height: 120px;
    margin-right: 10px;
}
.footer_title
{
    font-size: 20px;
    line-height: 76px;

    position: relative;

    width: 100%;

    color: #fff;
    border-bottom: 2px solid #333;
}
.footer_item,
.footer_item a
{
    font-size: 14px;

    color: #777;
}
.footer_bottom
{
    line-height: 40px;

    height: 40px;

    color: #999;
    background: #111;
}
.dec_line
{
    position: absolute;
    bottom: -2px;
    left: 0;

    width: 45px;
    height: 2px;

    background: #555;
}
.up_btn
{
    top: 0;
    right: 0;

    overflow: hidden;

    width: 40px;
    height: 40px;
}
















