.homepage_banner{
    width: 100%;
}
.profile{
    margin-top: 70px;
    height: 220px;
    margin-bottom: 30px;
}
.profession{
    width: 100%;
    height: 640px;
    margin-bottom: 20px;
}
.fortuneTown{
    width: 100%;
    height: 480px;
}
.internet,.pay_found_box{
     width: 590px;
     height: 640px;
 }
.found,.payment{
    width: 590px;
    height: 310px;
}
.profile_img{
    width: 380px;
    height: 220px;
}
.groupFile,.companyVision{
    width: 385px;
    height: 220px;
}
.profile_content{
    line-height: 25px;
}
.news_title,.cooperation_title{
    height: 110px;
}
.news_img{
    width: 380px;
}
.news_img a{
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}
.news_img p{
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.news_list{
    margin-top: -15px;
    width: 400px;
}
.news_list_item{
    width: 100%;
    height: 42px;
    line-height: 40px;
    font-size: 15px;
    border-bottom: 1px dashed #ddd;
}
.news_list_item{

}
.news_more{
    align-self: flex-end;
    margin-top: -15px;
}
.cooperation_item{
    width: 285px;
    height: 200px;
    position: relative;
}
.cooperation_notice{
    width: 100%;
    height: 40px;
    color: #fff;
    background: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0;
    line-height: 40px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cooperation_more{
    width: 150px;
    height: 40px;
    background: #eee;
    margin: 60px auto;
    line-height: 40px;
}
.cover{
    position: absolute;
    left: 0;
    bottom: 0;
    top:0;
    right: 0;
    background: transparent;
    color: #fff;
    font-family:Serif;
}
.pad_big{
    padding: 0 45px 50px;
}
.pad_small{
    padding: 30px;
}





